/* --- General Styles & Resets --- */
body {
  background-color: rgba(109, 179, 213, 0.904);
  cursor: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- Star Background --- */
#star-container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#star-pattern {
  background-image: url("assets/Star+Pattern+3.svg");
  background-size: 10%;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  z-index: 1;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  opacity: 0.1;
  animation: pan 180s linear infinite;
  will-change: background-position;
}

#star-gradient-overlay {
  background: radial-gradient(
    circle,
    transparent 75%,
    rgba(18, 176, 255, 0.904)
  );
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 2;
}

/* --- App Container --- */
#app {
  min-height: 100vh;
  overflow: hidden; /* Wird in @media angepasst */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Title --- */
#title-font {
  width: clamp(350px, 80%, 600px);
  display: block;
  height: auto;
  margin-bottom: 1rem;
  opacity: 100%;
  border-radius: 30px;
  padding: 1rem 2rem;
}

/* -- Greeting -- */
#greeting-font {
  margin: 5rem 2rem 0rem 2rem;
  width: clamp(200px, 80%, 600px);
}

/* -- Introduction -- */
#show-intro-button {
  margin-top: 4.3rem;
  margin-bottom: 1.5rem;
}

#show-projects-button {
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

#introduction {
  text-align: center;
  display: flex;
  font-family: "Play", sans-serif;
  flex-direction: column;
  margin: 3rem 2rem 4rem 2rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  overflow: hidden;
  transition: max-height 1s ease, opacity 0.6s ease, transform 0.6s ease;
}

#introduction.hidden,
#modal-wrapper.hidden {
  max-height: 0;
  opacity: 0;
  transform: translateY(-30px);
  margin: 0;
  padding: 0;
}

#introduction.visible,
#modal-wrapper.visible {
  max-height: 2000px;
  opacity: 1;
  transform: translateY(0);
}

#introduction p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  #introduction {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  #introduction {
    font-size: 1rem;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.25);
  }
}

/* --- Project Section (Modal Wrapper) --- */
#modal-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  z-index: 10;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 5rem;
  overflow: hidden;
  transition: max-height 1s ease, opacity 0.6s ease, transform 0.6s ease;
}

.project-title-font-1 {
  width: clamp(100px, 80%, 270px);
  margin-bottom: 1.5rem;
}

.project-title-font-2 {
  width: clamp(150px, 80%, 300px);
  margin-bottom: 1rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  width: 90%;
  max-width: 400px;
  margin-bottom: 3rem;
}

.project-video {
  width: 25rem;
  height: 346px;
  display: block;
  margin-bottom: 1.5rem;
  border-radius: 0.75rem;
  outline: 0.2rem solid white;
  outline-offset: 0.2rem;
  background-color: #1a1a1a;
  object-fit: cover;
}

@media (max-width: 768px) {
  .project-video {
    width: 30rem;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .project-video {
    width: 16rem;
    height: 200px;
  }
}

a.modal-action,
#show-intro-button,
#show-projects-button {
  width: 20rem;
}

@media (max-width: 1440px) {
  a.modal-action,
  #show-intro-button,
  #show-projects-button {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  a.modal-action,
  #show-intro-button,
  #show-projects-button {
    width: 15rem;
  }
}

@media (max-width: 480px) {
  a.modal-action,
  #show-intro-button,
  #show-projects-button {
    width: 8rem;
  }
}

.modal-action {
  padding: 0.85rem;
  position: relative;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.75rem;
  outline: 0.2rem solid white;
  outline-offset: 0.2rem;
  overflow: hidden;
  cursor: none;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: white;
}

.modal-action:is(:hover, :focus-visible) {
  background-color: rgb(253, 224, 71);
}

.modal-action:is(:hover, :focus-visible) .modal-action-fade,
.modal-action:is(:hover, :focus-visible) .modal-action-pattern {
  display: block;
}

.modal-action:is(:hover, :focus-visible) .modal-action-text-letter {
  animation: bounce infinite;
}

.modal-action-fade,
.modal-action-pattern {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.modal-action-fade {
  z-index: 1;
  background: linear-gradient(to left, rgb(253, 224, 71), transparent 60%);
}

.modal-action-pattern {
  background-image: radial-gradient(
    rgb(255 255 255 / 0.6) 30%,
    transparent 30%
  );
  background-position: 0% 0%;
  background-size: 10px 10px;
  animation: move-background 50s linear infinite;
  transform: skew(-15deg, 0deg);
}

.modal-action-text {
  position: relative;
  z-index: 2;
  color: black;
  font-size: 1.25rem;
}

.modal-action-text-letter {
  display: inline-flex;
  position: relative;
}

/* --- Footer --- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
  z-index: 5;
  position: relative;
}

/* -- Social links -- */
#social-links {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 3rem;
}

.social-icon:hover {
  opacity: 0.5;
  cursor: none;
}

/* Copyright and credits*/
#copyright-and-credits p {
  font-size: small;
  text-shadow: -0.5px -0.5px black, 0.5px -0.5px black, -0.5px 0.5px black,
    0.5px 0.5px black;
}

/* --- Custom Cursor --- */
#cursor {
  height: 2rem;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
}

#cursor > img {
  height: 100%;
  width: 100%;
}

#cursor-eyes {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.18rem;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

.cursor-eye {
  background-color: rgb(255 255 255 / 0.5);
  height: 0.48rem;
  width: 0.18rem;
  border-radius: 1rem;
  animation: blink 4s infinite;
}

/* --- Fonts --- */
@font-face {
  font-family: "Play";
  src: url("assets/fonts/Play-Regular.ttf") format("truetype");
}

.sixty-four-font {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* --- Responsive Styles --- */

@media (max-width: 768px) {
  body {
    overflow-y: auto;
    cursor: default;
  }

  #cursor {
    display: none;
  }

  footer {
    position: relative;
    margin-top: 2rem;
  }
}

/* --- Keyframe Animations --- */
@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes move-background {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

@keyframes bounce {
  0%,
  20%,
  100% {
    translate: 0% 0%;
  }
  10% {
    translate: 0% -12%;
  }
}

@keyframes blink {
  0%,
  3%,
  100% {
    scale: 1 1;
  }
  1.5% {
    scale: 1 0;
  }
}
